
@keyframes moveRight{
    0%{
        transform: translateX(-30rem);
        opacity: 0;
    }

    85%{
        transform: translateX(2rem);
        opacity: 1;
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes moveLeft{
    0%{
        transform: translateX(30rem);
        opacity: 0;
    }

    85%{
        transform: translateX(-2rem);
        opacity: 1;
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes moveTop{
    0%{
        transform: translateY(10rem);
        opacity: 0;
    }
    


    100%{
        transform: translateY(0);
        opacity: 1;
    }

  
}